.Figure {
  display: flex;
  justify-content: center;
}

.Title {
  composes: TitleLarge from '../../styles/common.module.scss';
  margin-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Container {
  composes: Container from '../../styles/common.module.scss';
}

.InfoList {
  margin-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.InfoItem {
  display: inline-block;
  list-style: none;

  & + & {
    margin-left: 1.5rem;
  }
}

.LastEdition {
  composes: TextSmall from '../../styles/common.module.scss';
  display: inline-block;
  margin-top: 1.125rem;
  padding-left: 1rem;
  font-style: italic;
}