.Container {
  margin: 0 auto;
  max-width: 60rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.Focus {
  transition: box-shadow 250ms;

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 0 0 .125rem var(--color-highlight);
  }
}

.Title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.125rem;
  letter-spacing: .031rem;
  color: var(--color-heading);
  font-style: normal;
}

.TitleLarge {
  composes: Title;
  font-size: 3rem;
  line-height: 3.631rem;
  letter-spacing: 0.031rem;
}

.Text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: var(--color-body);
  font-style: normal;
}

.TextSmall {
  composes: Text;
  font-size: 0.875rem;
  line-height: 1.059rem;
  color: var(--color-info);
}

.Link {
  composes: Focus;
  composes: Text;
  background-color: transparent;
  border: none;
  color: var(--color-highlight);

  &:hover {
    cursor: pointer;
  }
}

.Icon {
  color: var(--color-info);
  height: 1.25rem;
  width: 1.25rem;
}

.ExitPreviewMode {
  display: block;
  background-color: var(--color-heading);
  padding: 1.125rem;
  border-radius: 0.25rem;
  color: var(--color-background);
  font-weight: 600;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.361rem;
  text-align: center;
  transition: filter 250ms;

  &:hover {
    filter: brightness(.8);
  }
}