.Home {
  composes: Container from '../styles/common.module.scss';
}

.PostItem {
  & + & {
    margin-top: 1.125rem;
  }
}

.LoadMorePosts {
  composes: Link from '../styles/common.module.scss';
  margin-top: 2.125rem;
  padding: 1rem;
}
