.Home {
  composes: Container from '../styles/common.module.scss';
}

.PostItem {
  & + & {
    margin-top: 1.125rem;
  }
}

.LoadMorePosts {
  composes: Link from '../styles/common.module.scss';
  margin-top: 2.125rem;
  padding: 1rem;
}

.ExitPreviewMode {
  composes: ExitPreviewMode from '../styles/common.module.scss';
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 5.5rem;
}