.Container {
  list-style: none;
}

.Link {
  composes: Focus from '../../styles/common.module.scss';
  display: block;
  text-decoration: none;
  padding: 1rem;

  &:hover,
  &:focus {
    .Title {
      color: var(--color-highlight);
    }
  }
}

.Title {
  composes: Title from '../../styles/common.module.scss';
  transition: color 250ms;
}

.Subtitle {
  composes: Text from '../../styles/common.module.scss';
  margin-top: 0.5rem;
}

.Footer {
  margin-top: 1.563rem;
  display: flex;
  align-items: center;
}

.Author {
  margin-left: 1.5rem;
}